@font-face {
  font-family: "IBM Plex Sans";
  src:
          url("fonts/IBMPlexSans-Regular.ttf") format("truetype"),
          url("fonts/IBMPlexSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Sans Condensed";
  src:
          url("fonts/IBMPlexSansCondensed-Regular.ttf") format("truetype"),
          url("fonts/IBMPlexSansCond-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Staatliches";
  src:
          url("fonts/Staatliches-Regular.ttf") format("truetype"),
          url("fonts/Staatliches-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-size: 1em;
  font-family: "IBM Plex Sans", sans-serif;
}
