@import "../../base/default";
@import "../../base/colours";

header {
    width: 100vw;
    background-color: $background-dark-grey;
    position: fixed;
    z-index: 1;
}

.nav-bar {
    width: 100%;
}

.nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-family: "Staatliches", sans-serif;

    @media (max-width: 600px) {
        flex-direction: column;

        .nav-option {
            display: none;
        }

        &.open-list > .nav-option {
            display: block;
        }
    }

    .dropdown-icon, .nav-option {
        color: $white;
        padding: 1%;
        cursor: pointer;
    }

    .dropdown-icon {
        display: none;

        @media (max-width: 600px) {
            display: block;
        }
    }
}