@import "../../base/default";
@import "../../base/colours";

header {
    width: 100vw;
    background-color: $background-dark-grey;
    position: fixed;
}

.nav-bar {
    width: 100%;
}

.nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;

    li {
        color: $white;
        padding: 1%;
    }
}